.circle-drawer-ctn {
  display: flex;
  flex-direction: column;
}

/* ***** Canvas ***** */

.circle-drawer-canvas-ctn {
  /* This helps positioning the custom context menu */
  position: relative;

  width: 500px;
  height: 500px;

  border: 1px solid #212121;
}

.circle-drawer-canvas {
  width: 100%;
  height: 100%;
}

/* ***** Context menu ***** */

.circle-drawer-ctx-menu-ctn {
  /* Positioned relative to .circle-drawer-canvas-ctn */
  position: absolute;

  display: flex;
  flex-direction: column;

  width: 250px;

  background-color: #eeeeee;

  border: 1px solid #bdbdbd;
}

.circle-drawer-ctx-menu-ctn.hidden {
  display: none;
}

.circle-drawer-ctx-menu-item {
  width: 100%;
  padding: .25rem;

  text-align: center;

  cursor: pointer;
}

.circle-drawer-ctx-menu-item:hover {
  background-color: #e0e0e0;
}

/* ***** Diameter panel ***** */

.circle-drawer-diameter-panel-ctn {
  /* Positioned relative to .circle-drawer-canvas-ctn */
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 250px;

  background-color: #eeeeee;

  border: 1px solid #bdbdbd;
}

.circle-drawer-diameter-panel-ctn.hidden {
  display: none;
}
